@import "tailwindcss";

@theme {
  --color-primary: #F655A6; /* Rosa oscuro */
  --color-secondary: #F9E8F1; /* Rosa claro */
  --color-accent: #FF80AB; /* Un rosa intermedio */
  --color-background: #FFFFFF; /* Blanco */
  --color-foreground: #333333; /* Negro suave */
  --color-border: #E91E63; /* Borde en rosa fuerte */
  --color-muted: #FCE4EC; /* Rosa muy suave para fondos secundarios */
  --color-ring: #D81B60; /* Color de resaltado */
}
